JWT_ISSUER=http://localhost:8080
JWT_AUDIENCE=open-banking-api
JWT_PRIVATE_KEY_BASE64=
TPP_STANDARD_CLIENT_SECRET=
TPP_PREMIUM_CLIENT_SECRET=
JWT_TOKEN_TTL=PT5M
JWT_TEST_SCENARIOS_ENABLED=true
KAFKA_BOOTSTRAP_SERVERS=kafka-lab-platform-lab.i.aivencloud.com:25283
KAFKA_USERNAME=mule-open-banking
KAFKA_PASSWORD=
KAFKA_TRUSTSTORE_PASSWORD=changeit
KAFKA_BALANCE_EVENT_TOPIC=open-banking.balance.changed.v1
KAFKA_PUBLISH_TIMEOUT=PT10S
